{% extends 'Forum/base.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% block content %}
    <div class="lgx-inner mt-5">

        {% for current_event in current_events %}

        <div class="lgx-video-section relative">
            <iframe width="100%" height="600" src="{{current_event.promo_video}}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 pointer-events-none"></div>
        </div>


        <div class="container mx-auto px-4">

            <!-- First Event Details -->
            <div class="flex flex-wrap items-center mt-20">
                <div class="w-full md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
                    <div class="lgx-about-img">
                        <img src="{{current_event.event_image.url}}" alt="about">
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-3/5">
                    <div class="lgx-about-content-area">
                        <div class="lgx-heading">
                            <h2 class="text-4xl font-bold leading-tight mb-2 text-cyan-500">{{current_event.title}}</h2>
                            <h3 class="text-xl font-semibold text-gray-600 mb-2">{{current_event.sub_title}}</h3>
                        </div>
                        <div class="lgx-about-content">
                            <p class="text-base leading-relaxed mb-4 text-white">
                                {{current_event.description}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- //.First Event Details -->

            <div class="lgx-about-service flex justify-center items-center mt-10">
                <div
                    class="lgx-single-service lgx-single-service-white flex flex-col items-center mr-8 rounded-lg shadow-md p-4 w-64">
                    <div class="text-area ml-4 ">
                        <span class="icon"><i class="fa fa-map-marker text-6xl text-cyan-500"
                                aria-hidden="true"></i></span>
                        <h2 class="title font-semibold text-xl mt-2 text-cyan-500">WHERE</h2>
                        <p class="text-gray-600 mb-2 mt-2"><strong>{{ current_event.location }}</strong></p>
                        <p class="text-gray-600">Naxal, Kathmandu</p>
                    </div>
                </div>

                <div
                    class="lgx-single-service lgx-single-service-white flex flex-col items-center mr-8 rounded-lg shadow-md p-4 w-64">
                    <div class="text-area ml-4 ">
                        <span class="icon"><i class="fa fa-clock text-6xl text-cyan-500" aria-hidden="true"></i></span>
                        <h2 class="title font-semibold text-xl mt-2 text-cyan-500">WHEN</h2>
                        <p class="text-gray-600 mb-2 mt-2"><strong>Date:</strong> {{ current_event.date|date:"F j, Y" }}
                        </p>
                        <p class="text-gray-600"><strong>Time:</strong> {{ current_event.date|time:"h:i A" }}</p>
                    </div>
                </div>
            </div>



            <div class="lgx-inner mt-16 mb-16">
                <div class="container mx-auto">
                    <div class="lgx-heading text-center mb-8">
                        <h2 class="text-4xl font-bold mb-2 text-cyan-500">WHO’S SPEAKING</h2>
                        <h3 class="text-xl font-semibold text-gray-600">Welcome to the dedicated to building remarkable
                            Speakers!</h3>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 ml-20">
                        <!-- Staff members -->

                        {% for speaker in current_event.speakers.all %}
                        <div class="col-span-1 flex justify-center">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img" href="speakers.html">
                                        <img src="{{speaker.image.url}}" alt="speaker"
                                            class="w-80 h-auto object-center object-cover">
                                    </a>
                                    <figcaption>
                                        <div class="speaker-info">
                                            <h3 class="text-xl font-bold mt-2 text-cyan-500"><a
                                                    href="speaker.html">{{speaker.name}}</a></h3>
                                            <h4 class="text-base text-gray-600 font-semibold">{{speaker.position}}</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        {% endfor %}



                        <!-- Repeat the above speaker divs for each staff member -->
                    </div>
                </div><!-- //.CONTAINER -->
            </div>

            <div class="lgx-sponsor-section mt-16">
                <div class="container mx-auto">
                    <div class="lgx-heading text-center mb-8">
                        <h2 class="text-4xl font-bold mb-2 text-cyan-500">SPONSORS</h2>
                        <h3 class="text-xl font-semibold text-gray-600">Welcome to the dedicated to building remarkable
                            Speakers!</h3>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 ml-20 mt-20">
                        {% for sponsor in current_event.sponsors.all %}
                        <div
                            class="lgx-single-sponsor flex flex-col items-center justify-center rounded-lg p-4 shadow-md">
                            <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" class="h-16">
                            <p class="text-gray-600 text-center mt-2">{{ sponsor.name }}</p>
                        </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>



        </div>

        {% endfor %}
    </div>

{% endblock %}