{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" />
  <link rel="stylesheet" href="{% static 'css/main.css'%}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="w-screen h-screen overflow-hidden"
        style="background-image: url('{% static 'img/bannar-comingsoon.jpg' %}'); background-size: 100%;">
        <div class="flex flex-col justify-center items-center h-full">
            <div class="text-center">
                <h1 class="text-7xl text-orange-500 font-sans font-normal mb-10 font-oswald ">Ready for the event</h1>
                <h1 class="text-8xl font-mono font-extrabold text-white mb-10 font-oswald">WE ARE COMING SOON</h1>
                <p class="Address text-white text-3xl mb-10 leading-3">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    LT-01 Wolverhampton Block
                </p>

                <div class="flex justify-center items-cente ml-8">
                    <div class="flex flex-col items-center">
                        <p id="days" class="font-oswald text-9xl text-white font-bold mr-20 text-yellow-500">00</p>
                        <span class="text-3xl text-gray-500 font-semibold mr-24">Days</span>
                    </div>
                    

                    <div class="flex flex-col items-center">
                        <p id="hours" class="text-9xl text-white font-bold mr-20 text-orange-600">00</p>
                        <span class="text-3xl text-gray-500 font-semibold mr-24">Hours</span>
                    </div>

                    <div class="flex flex-col items-center">
                        <p id="minutes" class="text-9xl text-white font-bold mr-20 text-blue-500">00</p>
                        <span class="text-3xl text-gray-500 font-semibold mr-24">Mins</span>
                    </div>

                    <div class="flex flex-col items-center">
                        <p id="seconds" class="text-9xl text-white font-bold mr-20 text-green-400">00</p>
                        <span class="text-3xl text-gray-500 font-semibold mr-24">Secs</span>
                    </div>

                </div>



            </div>
        </div>
    </div>


</body>

</html>