{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Community</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" />
  <link rel="stylesheet" href="{% static 'css/main.css'%}" />

  <style>
    .home-container {

      display: grid;
      grid-template-columns: 1fr 3fr 1fr;

    }
  </style>
</head>

<body>

  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="{% static 'img/herald-white-logo.png' %}" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
      </a>
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button"
          class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="{% static 'img/user-1.jpg'%}" alt="user photo" />
        </button>

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="text-white">Logout</a>
        {% else %}
        <h2>None</h2>
        {% endif %}

        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
          id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
            <span class="block text-sm text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                out</a>
            </li>
          </ul>
        </div>
        <button data-collapse-toggle="navbar-user" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="{% url 'Questionlist' %}"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
          </li>

          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
          </li>

          <li>
            <a href="index.html"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">Forum</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Community</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Event</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <h1>Home Template</h1>
  <br>
  <form action="{% url 'community' %}" method="GET">

    <input type="text" name="q" placeholder="Search Rooms ...">

  </form>
  <br>
  <div class="home-container">

    <div class="topics">
      <div class="topics__header mb-8">
        <h2 class="text-uppercase font-semibold text-dark-light">Browse Topics</h2>
      </div>
      <ul class="topics__list">
        <li>
          <a href="{% url 'home' %}" class="active flex justify-between items-center mb-12 font-semibold text-light-gray transition-colors duration-300 hover:text-main">
            All <span class="py-2 px-4 bg-dark text-white rounded-full text-lg font-bold tracking-wide"> {{topics.count}} </span>
          </a>
        </li>
        {% for topic in topics %}
        <li>
          <a href="{% url 'home' %}?q={{topic.name}}" class="flex justify-between items-center mb-12 font-semibold text-light-gray transition-colors duration-300 hover:text-main">
            {{topic.name}}<span class="py-2 px-4 bg-dark text-white rounded-full text-lg font-bold tracking-wide">{{topic.room_set.all.count}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <a href="" class="btn btn--link">
        More
        <svg class="inline-block w-8 h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <title>chevron-down</title>
          <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
      </a>
    </div>
    

    <!-- <div>
      <h5>{{room_count}} rooms available </h5>
      <a href="{% url 'create-room' %}" style="color:blue ;">Create Room</a>


      <div>

       {% include 'Community/feed_component.html' %}

      </div>

    </div> -->

    <div class="roomList">
      <div class="mobile-menu">
        <form action="{% url 'home' %}" method="GET" class="header__search">
          <label class="flex items-center">
            <svg class="w-8 h-8 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <title>search</title>
              <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
            </svg>
            <input name="q" placeholder="Search for posts" class="border-b border-gray-300 focus:outline-none focus:border-main" />
          </label>
        </form>
        <div class="mobile-menuItems flex">
          <a href="" class="btn btn--main btn--pill mr-2">Browse Topics</a>
          <a href="" class="btn btn--main btn--pill">Recent Activities</a>
        </div>
      </div>
    
      <div class="roomList__header flex justify-between items-center mb-6">
        <div>
          <h2 class="text-uppercase font-semibold text-light">Study Rooms</h2>
          <p>{{room_count}} Rooms available</p>
        </div>
    
        <a href="{% url 'create-room' %}" class="btn btn--main flex items-center">
          <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>add</title>
            <path d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"></path>
          </svg>
          Create Room
        </a>
      </div>
    
      {% for room in rooms %}
      <div class="roomListRoom bg-dark rounded-lg p-6 mb-6">
        <div class="roomListRoom__header flex justify-between items-center">
          <a href="" class="roomListRoom__author flex items-center">
            <div class="avatar avatar--small mr-2">
              <img src="{{room.host.avatar.url}}" class="w-8 h-8 rounded-full" />
            </div>
            <span>@{{room.host.username}}</span>
          </a>
          <div class="roomListRoom__actions flex items-center">
            <span class="text-base font-semibold">{{room.created|timesince}} ago</span>
          </div>
        </div>
        <div class="roomListRoom__content">
          <a href="{% url 'room' room.id %}" class="text-lg font-semibold mb-4 text-light hover:text-main">{{room.name}}</a>
        </div>
        <div class="roomListRoom__meta border-t border-dark-medium pt-4 flex justify-between items-center">
          <a href="{% url 'room' room.id %}" class="roomListRoom__joined flex items-center gap-2 text-base font-semibold text-light-gray">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <title>user-group</title>
              <path d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z"></path>
              <path d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z"></path>
              <path d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.030-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z"></path>
              <path d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z"></path>
            </svg>
            {{room.participants.all.count}} Joined
          </a>
          <p class="roomListRoom__topic py-1.5 px-6 bg-dark-medium rounded-full font-semibold text-sm">{{room.topic.name}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    

    <div>
      {% include 'Community/activity_component.html' %}
    </div>


  </div>



</body>

</html>