{% extends 'Forum/base.html' %}
{% load static %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="flex">

    <div class="w-1/5 bg-gray-900">
        <h1 class="text-1xl text-gray-700 ml-9 mt-5 font-semibold"> BROWSE TOPICS</h1>
        <ul class="">
            <li>
                <a href=""
                    class="flex ml-9 mt-4 mb-4 text-lg justify-between items-center text-gray-500 transition duration-300 ease-in-out font-bold hover:text-blue-500">
                    <span class="mt-2 ">All</span>
                    <span class="bg-dark py-2 px-4 text-white font-semibold">{{ room_count }}</span>
                </a>
            </li>

            {% for topic in topics %}
            <li>
                <a href=""
                    class="flex ml-9 mt-4 mb-4 text-lg justify-between items-center text-gray-500 transition duration-300 ease-in-out font-bold hover:text-blue-500">
                    <span class="mt-2">{{topic.name}}</span>
                    <span class="bg-dark py-2 px-4 text-white font-semibold">{{ topic.room_set.count }}</span>
                </a>
            </li>
            {% endfor %}


        </ul>
    </div>


    <div class="w-3/5 ml-2 bg-gray-900">

        <div class="flex ">

            <div>
                <h1 class="text-1xl text-gray-300 ml-9 mt-5 font-semibold"> ROOMS</h1>
                <h1 class="text-1xl text-gray-400 ml-9 mt-1"> {{room_count}} Rooms Available</h1>
            </div>

            <div class="flex-shrink-0 ml-auto">
                <a href="{% url 'create-room' %}">
                    <button type="button"
                        class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Create Room
                    </button>
                </a>
            </div>



        </div>

        <div>
            <h1 class="text-1xl text-gray-700 ml-9 mt-5 font-bold text-cyan-400 text-lg">All Rooms</h1>

            {% for room in rooms %}
            <div class="rounded-lg bg-gray-800 ml-9 mt-5 p-4 w-4/5 h-auto flex flex-col">
                <!-- User Profile Image -->
                <div class="flex w-full">
                    <img src="{{room.host.profile.image.url}}" alt="User Profile"
                        class="w-11 h-11 rounded-full border-cyan-400 border-2">
                    <!-- Username and Date -->
                    <div class="ml-2 flex flex-grow justify-between">
                        <div class="font-semibold text-slate- mt-2 text-lg text-cyan-400">Host
                            @{{room.host.username}}</div>
                        <div class="text-gray-400 font-semibold mt-2">on {{room.created | date:"F j, Y" }}</div>
                    </div>
                </div>

                {% if request.user in room.participant.all %}
                <h1 class="text-2xl p-1 my-3 font-semibold text-gray-300"> <a href="{% url 'room' room.id %}">{{room.name }}</a></h1>
                {% else %}
                <h1 class="text-2xl p-1 my-3 font-semibold text-gray-300"> {{ room.name }} <i class="fas fa-lock" style="margin-left: 10px;" ></i></h1>

                {% endif %}



                <p class="ml-1 text-gray-300 font-normal">{{room.description}}</p>
                <br>

                <div class="flex justify-start ml-1">
                    {% for participant in room.participant.all|slice:":5" %}
                    <img src="{{ participant.profile.image.url }}" alt="User Profile"
                        class="w-10 h-10 rounded-full border-cyan-400 border-2 mr-2">
                    {% endfor %}
                </div>

                <br>
                <hr>
                <br>
                <div class="flex justify-between items-center">
                    <ul class="anser-list flex space-x-10">
                        <li>
                            <!-- SVG icon -->
                            <svg class="inline-block h-4 w-4 mb-1 mr-1 text-cyan-400" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 32 32" fill="currentColor">
                                <title>User Group</title>
                                <!-- Include the path data here -->
                                <path
                                    d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z">
                                </path>
                                <path
                                    d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z">
                                </path>
                                <path
                                    d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.030-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z">
                                </path>
                                <path
                                    d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z">
                                </path>
                            </svg>
                            <!-- Text -->
                            <a href="polls.html" class="text-gray-400 font-semibold">{{room.participant.count}}</a>

                            <a href="most-answered.html"
                                class="border border-cyan-400 text-cyan-400 font-normal py-2 px-4 ml-2 rounded-full inline-block transition duration-300">
                                {{room.topic.name}}
                            </a>

                        </li>
                    </ul>
                    <!-- Added Join button -->
                    {% if request.user in room.participant.all %}
                    <!-- User is joined -->
                    <a href="most-answered.html"
                        class="border border-cyan-400 text-cyan-400 font-normal py-2 px-4 ml-2 rounded-full inline-block transition duration-300">
                        Joined
                    </a>
                    {% else %}
                    <!-- User is not joined -->
                    <a href="{% url 'join-room' room.id %}">
                        <button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Join</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}



            <br>
            <br>
            

            <div class="flex justify-center mt-5 mr-14">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if questions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        {% for num in questions.paginator.page_range %}
                        <li class="page-item {% if num == questions.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}
                        {% if questions.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <br>





        </div>



    </div>

    <div class="w-1/5 bg-gray-900 mr-5 mt-5">
        <div class="rounded-lg bg-gray-800 ml-9 mt-5 h-auto flex flex-col">
            <div class="bg-gray-700 h-10 rounded-t-lg">
                <div class="items-center ml-2 mt-1">
                    <h1 class="text-cyan-400 font-semibold text-lg">Server Messages</h1>
                </div>
            </div>
            <div class="p-4">
                {% for message in recent_messages|slice:":5" %}
                <!-- Server message -->
                <div class="bg-gray-700 rounded-lg p-3 mb-3" style="max-width: 400px;"> <!-- Adjust max-width as needed -->
                    <div class="flex items-center">
                        <div class="w-10 h-10 rounded-full flex-shrink-0 flex justify-center items-center mr-3 mb-5">
                            <img src="{{ message.room.image.url }}" alt="Server Logo" class="w-full h-full rounded-full">
                        </div>
                        <div style="max-width: 300px; overflow-wrap: break-word;">
                            <span class="text-cyan-400 font-semibold">@{{ message.room.name }}</span><br>
                            <span class="text-gray-500 font-semibold">{{ message.created|timesince }} ago</span><br>
                            <p class="text-gray-400 font-semibold text-justify " style="width: 200px;">{{ message.body}}</p>
                        </div>
                    </div>
                </div>
                
                
                {% endfor %}
            </div>
        </div>
    </div>
    
  





</div>

{% if request.GET.joined_successfully %}
    <script>
        window.onload = function() {
            alert("Joined successfully!");
        };
    </script>
{% endif %}

{% endblock %}