{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>

<body>
    <section>
        <!-- Container -->
        <div class="overflow-hidden grid gap-0 md:h-screen md:grid-cols-2">
            <div class="relative flex items-center justify-center bg-cover" style="background-image: url('{% static "img/faculty-sm-three.png" %}');">
                <div class="absolute inset-0 bg-black opacity-50"></div>

                <div class="mx-auto max-w-md px-5 py-16 md:px-10 md:py-24 lg:py-32 text-white z-10">
                    <div class="mb-5 flex h-14 w-14 flex-col items-center justify-center">
                        <img src="{% static 'img/image.png' %}" alt="" class="inline-block" />
                    </div>
                    <p class="mb-8 text-sm sm:text-base md:mb-12 lg:mb-16">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna,
                        porttitor rhoncus dolor purus non enim.</p>
                    <p class="text-sm font-bold sm:text-base">John Robert</p>
                    <p class="text-sm sm:text-sm">Senior Webflow Developer</p>
                </div>
            </div>
            <!-- Component -->
            <div class="flex items-center justify-center px-5 py-16 md:px-10 md:py-24 lg:py-32 bg-[#f2f2f7]">
                <div class="max-w-md text-center">
                    <h2 class="mb-8 text-3xl text-black font-bold md:mb-12 md:text-5xl lg:mb-16">Connect with Campus Connect Hub: Log in</h2>
                    <!-- Form -->
                    <div class="mx-auto mb-2 max-w-[400px] pb-4">
                        {% if messages %}
                        <div class="error-message ">
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <br>
                        <form name="wf-form-login" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="relative">
                                <img alt=""
                                    src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9455fae6cf89_EnvelopeSimple.svg"
                                    class="absolute left-[5%] top-[26%] inline-block" />
                                <input type="text" name="username"
                                    class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 pl-14 text-sm text-[#333333]"
                                    placeholder="Username" required="" />
                            </div>
                            <div class="relative mb-4">
                                <img alt=""
                                    src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a946794e6cf8a_Lock-2.svg"
                                    class="absolute left-[5%] top-[26%] inline-block" />
                                <input type="password" name="password"
                                    class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 pl-14 text-sm text-[#333333]"
                                    placeholder="Password (min 8 characters)" required="" />
                            </div>
                            <label class="mb-6 flex items-center justify-start pb-12 pl-5 font-medium md:mb-10 lg:mb-1">
                                <input type="checkbox" name="checkbox" class="float-left -ml-[20px] mt-1" />
                                <span class="ml-4 inline-block cursor-pointer text-sm" for="checkbox">I agree with the
                                    <a href="#" class="font-bold text-[#0b0b1f]">Terms &amp; Conditions</a></span>
                            </label>
                            

                            <input type="submit" value="Join Campus Connect Hub"
                                class="inline-block w-full cursor-pointer items-center bg-black px-6 py-3 text-center font-semibold text-white" />
                        </form>


                    </div>
                    <p class="text-sm text-[#636262] sm:text-sm">"Don't have an account?  <a href="{% url 'register' %}"
                            class="font-bold text-[#0b0b1f]">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>